# Environment variables
.env

# Node.js dependencies
node_modules/

# Python virtual environments
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite databases
*.sqlite3

# IDE/editor files
.vscode/
.idea/
*.swp

# Logs and temporary files
*.log
*.tmp

# Chroma vector DB directories
chroma_db/
chroma_seeds/


.venv/

chat_history.db